@model IEnumerable<OSLibrary.Models.Category>
@{

    Layout = null;
}

<ul style="list-style:none;">
    @foreach (var item in Model)
    {
        <li class="categoryname">
            <a href="#">@item.CategoryName</a>
        </li>
    }
</ul>