@model IEnumerable<OSLibrary.Models.Category>
@{

    Layout = null;
}

<div class="col-2 side">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="#">@item.CategoryName</a>
            </li>
        }
    </ul>
</div>