@model IEnumerable<OSLibrary.ViewModels.ProductModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container catcontent">
    <div class="row">
        @{Html.RenderAction("GetCategory",new { ViewBag.Gender });}
        <div class="col-10 right-content">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-3" name="@item.CategoryName">
                        <a href= "/Products/@item.ProductID" >
                            <img src=@item.ImageUrl>
                        </a>
                        <a href="#">
                            <p>@item.Name</p>
                        </a>
                        <p class="price">@String.Format("{0:0,0}", item.Price)</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>