@model IEnumerable<OSLibrary.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" id="content">
        <div class="col-2">
            <div class="side">
                @{Html.RenderAction("GetCategory");}
            </div>
        </div>
        <div class="col-10">
            <div class="main">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-4 mt-3 text-center">
                            <p>@item.Product_Name</p>
                            <p>@item.CategoryName</p>
                            <p>@item.UnitPrice</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
