@model IEnumerable<OSLibrary.ViewModels.ProductModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container catcontent">
    <div class="row">
        @{Html.RenderAction("GetCategory");}
        <div class="col-10">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-3" name="@item.CategoryName">
                        <a href="/"+ @item.ProductID>
                            <img src=@item.ImageUrl>
                        </a>
                        <a href="#">
                            <p>@item.Name</p>
                        </a>
                        <p class="price">@item.Price</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>