@model IEnumerable<OSLibrary.Models.Products>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding-top:160px;">
    <div class="row" id="content">
        <div class="col-2">
            <div class="side">
                @{Html.RenderAction("GetCategory");}
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-3" name="@item.CategoryName">
                        <a href="#">
                            <img src='http://fakeimg.pl/220x280?font=bebas'>
                        </a>
                        <a href="#">
                            <p>@item.Product_Name</p>
                        </a>
                        <p class="price">@item.UnitPrice</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>