@model IEnumerable<OSLibrary.ViewModels.ProductModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid catcontent">
    <div class="row">
        @{Html.RenderAction("GetCategory", new { ViewBag.Gender });}
        <div class="col-10 right-content">
            <div class="row">
                <div class="col">
                    <!--name="item.CategoryName"-->
                    <ul class="product-index" style="list-style:none;display:flex;flex-wrap:wrap;">
                        @foreach (var item in Model)
                        {
                            <li style="width:250px; padding: 10px">
                                <a href="/Products/@item.ProductID">
                                    <img src=@item.ImageUrl>
                                </a>
                                <a href="#">
                                    <p>@item.Name</p>
                                </a>
                                <p class="price">@String.Format("{0:0,0}", item.Price)</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>