
@{
    ViewBag.Title = "GetOrders";
    Layout = "~/Views/Shared/_LayoutBackStagePage.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Orders</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Orders</li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <div class="row">

        <div class="col">
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <h3>
                        <i class="far fa-file"></i> Orders
                    </h3>
                </div>

                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" name="-1">所有訂單</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" name="0">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" name="1">Processing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" name="2">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" name="3">Complete</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-allorders" role="tabpanel" aria-labelledby="pills-allorders-tab">

                            <table class="table table-bordered table-responsive-xl table-hover display">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Account</th>
                                        <th>Order Date</th>
                                        <th>Status</th>
                                        <th>Ship Date</th>
                                        <th>Total</th>
                                        <th>Delivery Method</th>
                                        <th>Payment Method</th>
                                        <th>Detail</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                        <th>Skip</th>
                                    </tr>
                                </thead>
                                <tbody id="content"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card-->
        </div>
    </div>
</div>

@if (TempData["Account"] == null)
{
    <script>
        $(function () {
            $('#content').load("/Orders/status?status=-1")
            $('#pills-tab a').click(function () {
                $('#content').load("/Orders/status?status=" + $(this).attr("name"));
                $('#pills-tab a').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
}
else
{
    <script>
        $(function () {
            console.log("@TempData["Account"]");
            $('#content').load("/Orders/status?status=-1&account=" + "@TempData["Account"]");
            $('#pills-tab a').click(function () {
                $('#content').load("/Orders/status?status=" + $(this).attr("name")+"&account="+"@TempData["Account"]");
                $('#pills-tab a').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
}
<script>
    function ChangeStatus(id, status) {
        console.log(id, status)
        console.log(document.querySelector('a.nav-link.active').name);
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    let requestData = {
                        OrderID: id,
                        status: status
                    };
                    $.ajax({
                        url: "/Orders/UpdateOrderStatus",
                        type: 'POST',
                        data: JSON.stringify(requestData),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        error: function (result) {
                            swal("error", "Transform false", "error")
                        },
                        success: function (result) {
                            if (result == "OK") {
                                swal("Transform Order is " + result + "!", {
                                    icon: "success",
                                });
                                $('#content').load("/Orders/" + (status + 1))
                            }
                            else {
                                swal("error", "Transform false", "error")
                            }
                        },
                        async: true,
                        processData: false
                    });
                }
            });

    };
</script>

