@model OnlineStore.Controllers.TestController.Testmodel
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<h2>@Model.phone</h2>
<h2>@ViewData["安安"]</h2>
<h2>@TempData["data"]</h2>