
@{
    ViewBag.Title = "Alan's shop";

}
<div class="container-fluid">
    <div class="row">
        <div class="col content">
            <img src='/images/products/WOMEN/180524_0020.jpg' alt='' class="mainimage" />
        </div>
        <div class="col content">
            <img src='/images/products/WOMEN/180524_0023.jpg' alt='' class="mainimage" />
        </div>
    </div>
    <div class="row">
        <div class="col secondimage">
            <img src='/images/Main/discount.png' alt='' />
        </div>
        <div class="col secondimage">
            <img src='/images/Main/mothersday.png' alt='' />
        </div>
        <div class="col secondimage">
            <img src='/images/Main/share.png' alt='' />
        </div>
    </div>
    <div class="row">
        <div class="col thirdimage">
            <img src='/images/Main/180524_0015.jpg' alt='' class="mainimage" />
        </div>
        <div class="col thirdimage">
            <img src='/images/Main/180524_0053.jpg' alt='' class="mainimage" />
        </div>
    </div>
    <script>
        $("#content").css("padding-top", jQuery("#menu").height())
    </script>
</div>