
@{
    ViewBag.Title = "Alan's shop";

}


<div id ="content"class="container-fluid">
    <div class="row" id="content">
        <div class="col">
            圖片
        </div>
    </div>
</div>
<script>
    $("#content").css("padding-top", jQuery("#menu").height())
</script>